name: CD
on:
  workflow_dispatch:
  schedule:
    - cron: '* * * * *'


jobs:
  deploy-app:
    runs-on: ubuntu-latest
    steps:
     -  run : curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_HYsKjf0N2J03sCou0rcBYTtlzcD7/9PxEvGBy1J?buildCache=false
